@use "partials" as *;
$pane-bg-color: #fff;
$lg: map-get(
  $map: $bootstrap-custom-grid-breakpoints,
  $key: lg,
);
$md: map-get(
  $map: $bootstrap-custom-grid-breakpoints,
  $key: md,
);
$sm: map-get(
  $map: $bootstrap-custom-grid-breakpoints,
  $key: sm,
);
$xs: map-get(
  $map: $bootstrap-custom-grid-breakpoints,
  $key: xs,
);
$xl: map-get(
  $map: $bootstrap-custom-grid-breakpoints,
  $key: xl,
);
$xxl: map-get(
  $map: $bootstrap-custom-grid-breakpoints,
  $key: xxl,
);

.btn-primary {
  @include bootstrap-custom-button-variant($colors-main, $colors-main);
}

.btn-outline-primary {
  @include bootstrap-custom-button-outline-variant($colors-main);
}

.btn-secondary {
  @include bootstrap-custom-button-variant($colors-secondary, $colors-secondary);
}

.btn-outline-secondary {
  @include bootstrap-custom-button-outline-variant($colors-secondary);
}

.\+bold {
  font-weight: bold;
}

@each $key, $value in $colors-index {
  .\+fg-#{$key} {
    color: $value;
  }

  .\+bg-#{$key} {
    background-color: $value;
  }
}
