@use "partials" as *;
$pane-bg-color: #fff;
$lg: map-get(
  $map: $bootstrap-custom-grid-breakpoints,
  $key: lg,
);
$md: map-get(
  $map: $bootstrap-custom-grid-breakpoints,
  $key: md,
);
$sm: map-get(
  $map: $bootstrap-custom-grid-breakpoints,
  $key: sm,
);
$xs: map-get(
  $map: $bootstrap-custom-grid-breakpoints,
  $key: xs,
);
$xl: map-get(
  $map: $bootstrap-custom-grid-breakpoints,
  $key: xl,
);
$xxl: map-get(
  $map: $bootstrap-custom-grid-breakpoints,
  $key: xxl,
);

.btn-primary {
  @include bootstrap-custom-button-variant($colors-main, $colors-main);
}

.\+bold {
  font-weight: bold;
}

.bp-h1 {
  @include typography-mulish-font(2.4rem, bold);
  color: $colors-dark-grey;
}

.bp-h2 {
  @include typography-mulish-font(1.6rem, bold);
  color: $colors-dark-grey;
}

.bp-h3 {
  @include typography-mulish-font(1.2rem, bold);
  color: $colors-dark-grey;
}

.bp-pane_heading {
  @extend .bp-h2;
  color: $colors-dark-grey;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
