// .btn-primary {
//   @include button-variant(colors.$primary, colors.$primary, $white);
// }

* {
  @include typography-mulish-font($typography-font-size-base);
}

// .\+mulish {
//   @include typography-mulish-font($typography-font-size-base);
// }

.\+flex {
  display: flex;
}

.\+gap {
  gap: 0.5rem;
}

.\+error {
  color: $colors-golden-cream;
}
