.bp-measurement-input {
  width: 100%;

  &__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: max-content;
    gap: 1rem;

    .column {
      display: flex;
      flex-direction: column;
    }
  }
}

.bp-option {
  display: flex;
  &:hover {
    background-color: lightgray;
  }
}
