.bp-recipe_form {
  &__general_info {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
  }
}

.bp-ingredient_list_input {
  &__fields {
    display: flex;
    gap: 1em;
    padding: 0.25em;
    flex-direction: column;
  }

  &__add_ingredient_btn {
    margin-top: 1.25em;
    width: 100%;
  }
}

.bp-ingredient_list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.875em;
    padding: 0.5em;

    &__title {
      @extend .bp-h3;
    }

    &__actions {
      display: flex;
      gap: 1rem;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    height: clamp(10em, 50vh, 20em);
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    border: 0.5px solid $colors-silver;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1.5em;

    &__list {
      display: flex;
      flex-direction: column;
      gap: clamp(0.5em, 0.5vw, 2em);
      width: 100%;
    }
  }
}

.bp-ingredient_list__content__no_list_message {
  @include typography-mulish-font(1.2rem, normal);
  color: #a9a9a9;
  text-align: center;
}
