.offcanvas {
  width: 50vw !important;
  padding: 0.5em;
}
.bp-ingredient_management_offcanvas {
  &__header {
    padding-left: clamp(1em, 2vw, 2em);

    &__pills {
      display: flex;
      gap: 0.5em;
    }

    &__portion_status_pill {
      padding: 0.5em 1em;
      border-radius: 1rem;
      font-size: 1rem;
      font-weight: 600;
      background-color: $colors-dark-grey;
      color: $colors-white;
      width: max-content;
    }
  }
}
.bp-portion_status_pill {
  padding: 0.5em 1em;
  border-radius: 1rem;
  font-size: 1rem;

  color: $colors-white;
  width: max-content;

  &.fulfilled {
    background-color: darken($colors-success, 10%);
  }

  &.unfulfilled {
    background-color: darken($colors-danger, 10%);
  }

  &.overfulfilled {
    background-color: darken($colors-warning, 10%);
  }

  &__status_text {
    font-weight: 600;
    margin-inline-start: 0.25em;
  }
}

.bp-ingredient_management_offcanvas__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
