.bp-ingredient_list_item {
  width: calc(100% - 4em);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
  border: 0.5px solid $colors-silver;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: $colors-white;

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}

.bp-ingredient_list_item__products {
  overflow-y: hidden;
  width: calc(100% - 4em);
  display: none;
  padding: 1.2em;

  transition: max-height 0.3s ease-out;
  border: 0.5px solid $colors-silver;
  border-top: none;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1.2em;

    &__no_products_selected {
      font-size: 1rem;
      font-style: italic;
      color: $colors-dark-grey;
      text-align: center;
      padding: 1em;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
      border: 0.5px solid $colors-silver;
      border-radius: 0.5rem;
      background-color: $colors-white;

      &__details {
        justify-content: center;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 0.15em;

        &__name {
          font-size: 1rem;
          font-weight: 600;
        }

        &__date_info {
          font-size: 0.9rem;
          font-style: italic;
          color: $colors-dark-grey;
        }
      }
    }
  }

  &.expanded {
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    max-height: max-content; // Adjust this value based on the expected content height
    transition: max-height 2s ease-in;
  }
}

.bp-portion_fulfilled_meter__pill {
  margin-top: 1em;
  font-size: 0.8em !important;
  padding: 0.25em 0.75em !important;
  border-radius: 1rem;
  font-weight: 600;
}
