.bp-ingredient_input {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.25em;
  border: 1px solid #ccc;
  background-color: darken($color: #fff, $amount: 0.15);

  &__row {
    display: flex;
    flex-direction: row;
    gap: clamp(4px, 2%, 16px);
  }

  &__ingredient_title_field {
    width: 100%;
  }

  &__measurement_magnitude_field {
    flex-basis: 40%;
  }

  &__measurement_unit_field {
    width: 100%;
    flex-basis: 60%;
    flex-grow: 1;
  }
}
