.bp-recipe_form {
  display: flex;
  flex-direction: column;
  gap: 2rem; // Space between sections
  height: 100%; // Ensure the form takes the full height of the container

  &__dual_pane {
    display: flex;
    gap: 2rem; // Space between the two panes
    flex-grow: 1; // Allow the panel to grow and fill available space
    align-items: stretch; // Ensure both panes stretch to the same height
    height: 100%; // Ensure the dual pane takes the full height of the container

    &__pane {
      flex: 1; // Allow both panes to take equal width
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      padding: 1.5rem;

      border: 1px solid #dee2e6;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Subtle shadow for elegance
      overflow: auto; // Allow scrolling if content overflows
    }
  }

  &__general_info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; // Space between fields
    margin-bottom: 2rem; // Space below the section
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; // Space between fields
    margin-top: 2rem; // Space above the section
  }

  &__instructions {
    margin-top: 2rem; // Space above the instructions section
  }

  &__directions {
    margin-top: 2rem; // Space above the directions section
  }
}
