.bp-dropdown_pane__content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1.5em clamp(0.5em, 2vw, 1.25em);
  width: max-content;
}

.bp-dropdown_pane__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em clamp(0.5em, 2vw, 1.25em);
  width: max-content;
  cursor: pointer;
  background-color: $colors-white;
  border-radius: 0.5rem;
}
