.bp-form {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.875em;
    padding: 0.5em;

    &__actions {
      display: flex;
      gap: 1rem;
    }
  }
  &__dual_panel {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    height: 100%;

    &__pane {
      border: 0.5px solid $colors-silver;
      border-radius: 0.5rem;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      padding: clamp(0.5em, 2vw, 1.25em);

      background-color: $pane-bg-color;
      width: 100%;
      max-height: 100%;
      overflow-y: scroll;
    }
  }
}
