.bp-filter_multiselect__label {
  display: block;

  font-size: 1rem;

  color: $colors-black;
  padding: 0;
  margin: 0;
}

.bp-filter_multiselect__content {
  width: 100%;
  display: flex;
  padding: 0 clamp(0.5em, 2vw, 1.25em);
  flex-direction: row;
  gap: clamp(0.5em, 2vw, 1.25em);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.bp-filter_multiselect__options {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 100%;
}

.bp-filter_multiselect__dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  width: 100%;
  padding: 1.5em clamp(0.5em, 2vw, 1.25em);
}

.bp-filter_multiselect__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bp-filter_multiselect__count-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colors-secondary;
  color: $colors-white;
  border-radius: 0;
  aspect-ratio: 2/1;

  width: clamp(1.5em, 2vw, 2.5em);
  font-size: 0.875rem;
  border-radius: 0.5rem;
}
