.bp-input_label {
  @include typography-mulish-font(0.925rem, bold);
  color: $colors-dark-grey;
  margin-bottom: 0.5em;
}

.bp-input_label--required {
  @extend .bp-input_label;
  &::before {
    content: "*";
    color: $colors-danger;
    margin-right: 0.25em;
  }
}
