$card-margin: clamp(0.5rem, 1.5vw, 1rem);
$card-width: calc(100% - 2 * $card-margin);
.bp-recipe_card {
  margin: $card-margin;
  width: $card-width;
  height: 100%;
  align-content: stretch !important;
  cursor: pointer;

  &__header {
    flex-grow: 1;
  }
  &__img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 0;
  }

  &__body {
    flex-grow: 2;
  }
}

.bp-recipe_card__header__title.card-title {
  display: inline;
  vertical-align: middle;
  color: $colors-secondary;
  font-weight: bold;
  margin: 0;
}

.bp-recipe_card__header.card-header {
  background-color: white;
  display: flex;
  align-items: center;
  flex-grow: 0;
  justify-content: space-between;
  padding: clamp(0.5rem, 2vw, 1.25rem) calc($card-margin * 1.5) !important;
  text-wrap: break-word;
  font-size: 1rem;
}
@media (min-width: $md) {
  .bp-recipe_card__header__title {
    font-size: 1.05rem !important;
  }

  .bp-recipe_card__img {
    aspect-ratio: 4/3;
  }
}

@media (min-width: $lg) {
  .bp-recipe_card__header__title {
    font-size: 1.2rem !important;
  }
}

.bp-recipe_card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
  transition: transform 0.2s;
}

.bp-recipe_card__img_overlay {
  display: flex;

  width: calc($card-width + 2 * $card-margin);
  height: 50%;

  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: start;
}

.bp-recipe_card__favourite_btn {
  display: block;

  margin: 0;
  background-color: white;
  border: none;

  border-radius: 0.5em;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:hover {
    transform: scale(1.15);
    transition: transform 0.2s;
    color: darken($colors-main, 25);
  }
}

.bp-recipe_card__favourite_btn__icon {
  font-size: calc(clamp(1.5rem, 2vw, 2rem) * 0.75);
  color: $colors-main;
  margin: calc(clamp(1.5rem, 2vw, 2rem) * 0.15);
}

.bp-recipe_card__body {
  display: flex;
  flex-direction: column;
  justify-self: stretch;
  flex-grow: 2;
  align-items: left;
  padding: clamp(0.5rem, 2vw, 1.25rem) calc($card-margin * 1.5) !important;
}

.bp-recipe_card__body__dl {
  display: flex;
  flex-direction: column;
  gap: clamp(0.25rem, 1vw, 0.75rem);
  padding: 0 0.25em;
  margin: 0;
}

.bp-recipe_card__body__dl__dt {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: clamp(0.7rem, 1vw, 0.9rem);
  gap: clamp(0.25rem, 1vw, 0.75rem);
}

.bp-recipe_card__body__dl__dt__icon {
  display: inline-block;
  font-size: clamp(0.8rem, 1vw, 1.1rem) !important;
  color: $colors-secondary;
}

.bp-recipe_card__body__dl__dd {
  display: block;
  align-items: center;
  gap: clamp(0.25rem, 1vw, 0.75rem);
  font-size: clamp(0.8rem, 1vw, 0.9rem);
  padding: 0;
  margin: 0;
}

.bp-recipe_card__body__dl__pair {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(clamp(0.25rem, 1vw, 0.75rem) * 2);
}

.bp-recipe_card__allergen_caution_label {
  background-color: $colors-warning;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: nowrap;
  gap: clamp(0.25rem, 1vw, 0.75rem);
  align-items: center;
  padding: 0.5rem;
  color: $colors-secondary;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.bp-recipe_card__allergen_caution_label__icon {
  font-size: 1rem;
}

.bp-recipe_card__allergen_caution_label__text {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  color: $colors-secondary;
}

.bp-recipe_card__allergen_caution_label__info_icon {
  font-size: 1.5rem;
  color: $colors-secondary;
}

.bp-recipe_card__overlay__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-self: right;

  gap: clamp(0.5rem, 2vw, 1.25rem);
}

.bp-recipe_card__allergen_popover {
  display: block;
  width: max-content;
  padding: 1rem;
  background-color: $colors-warning;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.bp-recipe_card__allergen_popover__text {
  display: block;
  font-size: 0.9rem !important;
  color: $colors-secondary;
  font-weight: bold;
}

.bp-recipe_card__body__tags {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(0.5rem, 2vw, 1.25rem);
  padding: 0 0.5em;
}

.bp-recipe_card__body__tag {
  display: block;
  padding: 0.15rem 0.25rem;
  font-size: clamp(0.7rem, 1vw, 0.9rem);
  background-color: $colors-secondary;
  color: $colors-white;
  border: 1px solid darken($colors-light, 25);
  border-radius: 0.25rem;
}
