.bp-segmented_time_input {
  border: 1px solid silver;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  width: 100%;
  overflow: scroll;

  &--edit {
    display: none;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    gap: clamp(2px, 2%, 8px);
    padding-bottom: 1em;
  }

  &--display {
    display: none;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    gap: clamp(2px, 2%, 8px);
    padding-bottom: 1em;
  }

  &__field {
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    padding-bottom: 2px;
    margin-right: 5px;
    flex-shrink: 1;

    &:focus {
      outline: none;
      border-color: $colors-main;
      box-shadow: 0 1px 3px rgba(0, 123, 255, 0.2);
    }
  }

  &__unit_text {
    flex-shrink: 1;
    @include typography-mulish-font(0.9rem, 600);
    color: $colors-dark-grey;

    &--seconds {
      @extend .bp-segmented_time_input__unit_text;
    }

    &--minutes {
      @extend .bp-segmented_time_input__unit_text;
    }

    &--hours {
      @extend .bp-segmented_time_input__unit_text;
    }

    &--days {
      @extend .bp-segmented_time_input__unit_text;
    }
  }

  &__field--seconds {
    @extend .bp-segmented_time_input__field;
  }

  &__field--minutes {
    @extend .bp-segmented_time_input__field;
  }

  &__field--hours {
    @extend .bp-segmented_time_input__field;
  }
  &__field--days {
    @extend .bp-segmented_time_input__field;
  }
}

.\+active {
  display: flex;
}
