.bp-tooltip__trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2rem;
  color: $colors-secondary;
  transition: color 0.3s ease;
  &:hover {
    color: darken($colors-secondary, 10%);
  }
}
