$primary: #3fbf7f;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$black: #000;

$saturated-blue: #0034d1;
$navy-blue: #01134a;
$gold: #ffae00;
$white: #fff;
$light-blue: #688af0;
$silver: #d9d9d9;
$dark-grey: #313131;
$golden-cream: #ffcc5d;

$main: $saturated-blue;
$secondary: $light-blue;
$accent: $gold;
