@font-face {
  font-family: "Mulish";
  src:
    url("../../../public/fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype"),
    url("../../../public/fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src:
    url("../../../public/fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype"),
    url("../../../public/fonts/Lora/Lora-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}

$font-size-base: 16px;
$font-size-heading: 1.8rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

@mixin mulish-font($size, $weight: normal, $style: normal) {
  font-family: "Mulish", sans-serif;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
}

@mixin lora-font($size, $weight: normal, $style: normal) {
  font-family: "Lora", serif;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
}
